# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
android/build/
android/app/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/drawable-hdpi/
android/app/src/main/res/drawable-mdpi/
android/app/src/main/res/drawable-xhdpi/
android/app/src/main/res/drawable-xxhdpi/
android/app/src/main/res/drawable-xxxhdpi/

# iOS
ios/build/
ios/Pods/
.DS_Store
